/* Component Group-Chat */
.Header-Group-chat {
    width: 100%;
    height: 100px;
    margin-top: 10px;
    position: relative;
    z-index: 100;
  }
  
  .Header-Group-chat .infor-img{
    width: 50px;
    height: 50px;
    border-radius: 50px;
  }
  
  .Header-Group-chat .Manage {
    width: 35px;
    height: 35px;
    border-radius: 30px;
    background-color: #EEEEEE;
    transition: 0.5s;
    position: relative;
    top: 5px;
  }
  
  .Header-Group-chat .Manage svg{
    margin-left: 2.5px;
    margin-top: 2px;
    cursor: pointer;
  }
  
  .Header-Group-chat .Manage:hover {
    background-color: #BBBBBB;
  }
  
  .input-search{
    background-image: url(../../../icons/search.png);
    background-repeat: no-repeat;
    background-size: 35px;
    background-position-y: 2.5px;
    background-position-x: 2.5px;
    width: 110%;
    height: 40px;
    border-radius: 20px;
    border: 0;
    background-color: #EEEEEE;
    padding: 0 20px 0 20px;
    position: relative;
    top: 5px;
    z-index: 100;
  }
  
  .input-search:hover {
    background-image: none;
  }

  .input-search:focus {
    outline: 0;
  }
  
  .searching {
      width: 100%;
      left: 4%;
      background-image: none;
  }
  
  .exit-search {
      width: 40px;
      height: 40px;
      border-radius: 40px;
      position: relative;
      top: 5px;
      border: 0;
      transition: all 0.5s;
      z-index: 200;
      cursor: pointer;
  }
  
  .exit-search .icon-exit{
      position: absolute;
      left: 8px;
      top: 7px;
  }
  
  .exit-search:hover {
      background: #BBBBBB;
  }

  /*--responsive--*/

@media(max-width: 1680px){

}
@media(max-width: 1600px){

}
@media(min-width: 1440px){

}
@media(max-width: 1366px){

}
@media(max-width: 1280px){

}
@media(max-width: 1080px){
	.Header-Group-chat {
        height: auto;
    }
	#row-1-Header-Group-Chat {
        display: none;
    }
}
@media(max-width: 1050px){

}
@media(max-width: 1024px){
	
}
@media(max-width: 991px){

}
@media(max-width: 900px){
	
}
@media(max-width: 800px){
	
}
@media(max-width: 768px){
	
}
@media(max-width: 736px){
	
}
@media(max-width: 667px){
	
}
@media(max-width: 640px){

}
@media(max-width: 600px){

}
@media(max-width: 568px){
	
}
@media(max-width: 480px){
	
}
@media(max-width: 440px){
	
}
@media(max-width: 414px){
	
}
@media(max-width: 384px){
	
}
@media(max-width: 375px){

}
@media(max-width: 320px){
	
}
/*--responsive--*/