.ListGroupChat {
    position: relative;
    z-index: 100px;
    width: 100%;
    height: 730px;
    overflow-y: scroll;
  }
  
  .ListGroupChat .chat-user {
    width: 95%;
    padding: 0;
    margin: 0 auto;
  }
  
  .ListGroupChat .chat-user .bold{
      font-weight: bold;
  }
  
  .ListGroupChat .chat-user .row {
    border-radius: 10px;
    height: 80px;
  }
  
  .ListGroupChat .chat-user .row:hover{
    background: #ccc;
    color: #111;
  }

  /* icon online */
.ListGroupChat .chat-user .online {
    background: #5AD539;
    width: 20px;
    height: 20px;
    border-radius: 35px;
    border: 2px solid #fff;
    position: relative;
    z-index: 100;
    left: 55px;
    bottom: 30px;
}
.ListGroupChat .chat-user .avartar-in-list-group{
    width: 60px;
    height: 60px;
    border-radius: 60px;
    padding: 0;
    margin: 10px auto;
  }
  
  .ListGroupChat .chat-user p{
    text-align: left;
    font-size: 20px;
    margin-top: 25px;
  }

   /*--responsive--*/

@media(max-width: 1680px){

}
@media(max-width: 1600px){

}
@media(min-width: 1440px){

}
@media(max-width: 1366px){

}
@media(max-width: 1280px){

}
@media(max-width: 1080px){
	.ListGroupChat .chat-user p{
        display: none;
      }
}
@media(max-width: 1050px){

}
@media(max-width: 1024px){
	
}
@media(max-width: 991px){

}
@media(max-width: 900px){
	
}
@media(max-width: 800px){
	
}
@media(max-width: 768px){
	
}
@media(max-width: 736px){
	
}
@media(max-width: 667px){
	
}
@media(max-width: 640px){

}
@media(max-width: 600px){

}
@media(max-width: 568px){
	
}
@media(max-width: 480px){
	
}
@media(max-width: 440px){
	
}
@media(max-width: 414px){
	
}
@media(max-width: 384px){
	
}
@media(max-width: 375px){

}
@media(max-width: 320px){
	
}
/*--responsive--*/