body {
  position: relative;
  z-index: 100;
}
.App {
  display: flex;
}

/* chat app container col 1 */
.chat-app-container-col-1{
  width: 430px;
  height: 100%;
  margin: 0;
}
/* Component Group-Chat */
.Header-Group-chat {
  width: 100%;
  height: 100px;
  margin-top: 10px;
  position: relative;
  z-index: 100;
}

.Header-Group-chat .infor-img{
  width: 50px;
  height: 50px;
  border-radius: 50px;
}

.Header-Group-chat .Manage {
  width: 35px;
  height: 35px;
  border-radius: 30px;
  background-color: #EEEEEE;
  transition: 0.5s;
  position: relative;
  top: 5px;
}

.Header-Group-chat .Manage svg{
  margin-left: 2.5px;
  margin-top: 2px;
}

.Header-Group-chat .Manage:hover {
  background-color: #BBBBBB;
}

.input-search{
  background-image: url(./icons/search.png);
  background-repeat: no-repeat;
  background-size: 35px;
  background-position-y: 2.5px;
  background-position-x: 2.5px;
  width: 110%;
  height: 40px;
  border-radius: 20px;
  border: 0;
  background-color: #EEEEEE;
  padding: 0 20px 0 20px;
  transition: 0.5s;
  position: relative;
  top: 5px;
  z-index: 100;
}

.input-search:hover {
  background-image: none;
}

.searching {
    width: 95%;
    left: 15%;
    background-image: none;
}

.exit-search {
    width: 40px;
    height: 40px;
    border-radius: 40px;
    position: relative;
    bottom: 35px;
    left: 10px;
    border: 0;
    transition: all 0.5s;
}

.exit-search .icon-exit{
    position: absolute;
    left: 8px;
    top: 7px;
}

.exit-search:hover {
    background: #BBBBBB;
}
/* Manage */
.show {
  display: block;
}

.hide {
  display: none;
}

.arrow-down {
  display: block;
  width: 0;
  height: 0;
  border: 15px solid #fff;
  border-top-width: 0;
  border-right-color: transparent;
  border-left-color: transparent;
  position: relative;
  z-index: 250;
  left: 340px;
  bottom: 50px;
}

.menu-manage{
  width: 250px;
  height: 250px;
  box-shadow: 3px 3px 8px 5px #ccc;
  margin: 0;
  padding: 0;
  border-radius: 20px;
  position: relative;
  background:#fff;
  z-index: 200;
  left: 300px;
  bottom: 50px;
}

.menu-manage ul {
  width: 100%;
  padding: 0px;
  position: relative;
  top: 20px;
}

.menu-manage ul li {
  margin: 0 auto;
  width: 95%;
  padding: 0;
  height: 50px;
  text-align: center;
  list-style-type: none;
  border-radius: 10px;
}

.menu-manage ul hr {
  margin: 0;
}

.menu-manage ul li a{
  position: relative;
  top: 12px;
  width: 100%;
  text-decoration: none;
  color: #111;
}

.menu-manage ul li:hover{
  background: #BBBBBB;
}

/* list group chat */
.ListGroupChat {
  position: relative;
  z-index: 100px;
  width: 100%;
  height: 730px;
  overflow-y: scroll;
}

.ListGroupChat .chat-user {
  width: 95%;
  padding: 0;
  margin: 0 auto;
}

.ListGroupChat .chat-user .bold{
    font-weight: bold;
}

.ListGroupChat .chat-user .row {
  border-radius: 10px;
  height: 80px;
}

.ListGroupChat .chat-user .row:hover{
  background: #ccc;
}
/* format for list user */
.first-page .ListGroupChat {
    position: relative;
    bottom: 100px;
    z-index: 100px;
    width: 40%;
    margin: 0 auto;
    height: 400px;
    overflow-y: scroll;
  }

.ListGroupChat .chat-user .avartar-in-list-group{
  width: 60px;
  height: 60px;
  border-radius: 60px;
  padding: 0;
  margin: 10px auto;
}

.ListGroupChat .chat-user p{
  text-align: left;
  font-size: 20px;
  margin-top: 25px;
}
/* chat-app-container-col-2 */
.chat-app-container-col-2 {
  border-left: 1px solid #BBBBBB;
  border-right: 1px solid #BBBBBB;
  margin-left: 10px;
  width: 50%;
  height: 100%;
}

.header-chat {
  width: 100%;
  height: 80px;
  box-shadow: 0 2px 5px #BBBBBB;
}

.header-chat .avatar {
  width: 60px;
  height: 60px;
  margin-top: 10px;
  border-radius: 60px;
}

.header-chat p{
  margin-top: 20px;
}

/* Chat */
.chat {
  width: 100%;
  height: 720px;
  overflow-y: scroll;
}
/* user chat */
.user-chat {
  width: 97%;
  margin: 10px auto;
}
.user-chat .avatar {
  width: 50px;
  height: 50px;
  border-radius: 50px;
  padding: 0;
}

.user-chat .chat-content {
  max-width: 420px;
  word-wrap: break-word;
  margin-top: 10px;
}

.user-chat .right {
  float: right;
}

.user-chat .left {
  float: left;
}

.user-chat .right .message-img {
    width: 450px;
    position: relative;
    right: 25px;
}

.user-chat .chat-content .message-img {
    width: 450px;
    position: relative;
}

.user-chat .chat-content .color-content{
  background: #BBBBBB;
  border-radius: 20px;
  padding: 10px;
}

.user-chat .chat-content .color-content-me{
  background: rgb(0, 153, 255);
  border-radius: 20px;
  padding: 10px;
}

.inline{
  display: inline;
}

.block {
  display: block;
}

/* input chat */
.input-chat {
  width: 95%;
  height: 60px;
  margin: 0 auto;
}

.input-chat .col-1 label {
    width: 40px;
    height: 40px;
    border-radius: 40px;
    transition: 0.5s;
    position: relative;
    top: 9px;
}

.input-chat .col-1 label svg {
    position: relative;
    left: 3px;
    top: 3px;
}

.input-chat .col-1 label:hover{
    background: #BBBBBB;
}

.input-chat .col-1 input{
    display: none;
}

.input-chat .message-chat {
  width: 100%;
  height: 40px;
  border-radius: 15px;
  position: absolute;
  top: 10px;
  border: 0;
  background: #ccc;
  padding: 0 20px 0 20px;
}

.input-chat .submit-message {
  background: none;
  border: 0;
  position: absolute;
  top: 12px;
  margin-left: 5px;
}

/* information */
.chat-app-container-col-3 {
  margin-left: 10px;
  width: 400px;
  height: 100%;
}

.information{
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
}

.information .header-information{
  width: 100%;
  height: 250px;
  margin-top: 20px;
}

.information .header-information .center {
  width: 150px;
  margin: 0 auto;
}

.information .header-information .avatar {
  width: 150px;
  height: 150px;
  border-radius: 150px;
  margin: 0 auto;
}

.information .header-information p{
  text-align: center;
  font-size: 30px;
  margin-top: 10px;
}

.information .header-information .friend {
    text-align: center;
    font-size: 20px;
    color: #BBBBBB;
    position: relative;
    bottom: 20px;
}

.information .manager-information-user {
  width: 99%;
  margin: 0 auto;
}

.information .manager-information-user hr {
  margin: 0;
}

.information .manager-information-user ul {
  width: 100%;
  padding: 0;
  margin: 0;
}

.information .manager-information-user ul li {
  width: 100%;
  height: 70px;
  list-style: none;
  text-align: center;
  border-radius: 10px;
}

.information .manager-information-user ul li:hover {
  background-color: #BBBBBB;
}

.information .manager-information-user ul li a {
  position: relative;
  top: 20px;
  text-decoration: none;
  color: #111;
  font-size: 20px;
}
/* ListChatUser */
.ListChatUser .header-manager {
    height: 60px;
}

.ListChatUser .header-manager .exit-search {
    top: 13px
}

.ListChatUser .header-manager h3 {
    position: relative;
    top: 15px;
}

.ListChatUser .header-manager button {
    position: relative;
    top: 15px;
}

.ListChatUser {
    width: 105%;
    height: 100%;
    overflow-y: scroll;
  }
  
  .ListChatUser .chat-user {
    width: 95%;
    padding: 0;
    margin: 0 auto;
  }
  
  .ListChatUser .chat-user .row {
    border-radius: 10px;
    height: 80px;
  }
  
  .ListChatUser .chat-user .row:hover{
    background: #ccc;
  }
  
  .ListChatUser .chat-user .avartar-in-list-group{
    width: 60px;
    height: 60px;
    border-radius: 60px;
    padding: 0;
    margin: 10px auto;
  }
  
  .ListChatUser .chat-user p{
    text-align: left;
    font-size: 20px;
    margin-top: 25px;
  }

  .ListChatUser .col-1 input {
      margin-left: auto;
      margin-top: 30px;
      width: 20px;
      height: 20px;
  }

  .ListChatUser .col-11 label {
      width: 100%;
      height: 100%;
  }