body {
  position: relative;
  height: 100vh;
  z-index: 100;
}
.App {
  display: flex;
}

/* chat app container col 1 */
.chat-app-container-col-1{
  width: 430px;
  height: 100%;
  margin: 0;
}
/* Manage */
.show {
  display: block;
}

.hide {
  display: none;
}
/* chat-app-container-col-2 */
.chat-app-container-col-2 {
  border-left: 1px solid #BBBBBB;
  border-right: 1px solid #BBBBBB;
  margin-left: 10px;
  width: 50%;
  height: 100%;
}



/* information */
.chat-app-container-col-3 {
  margin-left: 10px;
  width: 400px;
  height: 100%;
}

.information{
  width: 100%;
  padding: 0;
  margin: 0;
}

 /*--responsive--*/

 @media(max-width: 1680px){

}
@media(max-width: 1600px){

}
@media(max-width: 1440px){

}
@media(max-width: 1366px){
.chat-app-container-col-2 {
        width: 1000px;
    }
    .chat-app-container-col-3 {
        display: none;
    }
}
@media(max-width: 1280px){

}
@media(max-width: 1080px){
	/* chat app container col 1 */
    .chat-app-container-col-1{
    width: 100px;
    margin: 0;
    }
}
@media(max-width: 1050px){

}
@media(max-width: 1024px){
	
}
@media(max-width: 991px){

}
@media(max-width: 900px){
	
}
@media(max-width: 800px){
	
}
@media(max-width: 768px){
	
}
@media(max-width: 736px){
	
}
@media(max-width: 667px){
	
}
@media(max-width: 640px){

}
@media(max-width: 600px){

}
@media(max-width: 568px){
	
}
@media(max-width: 480px){
	
}
@media(max-width: 440px){
	
}
@media(max-width: 414px){
	
}
@media(max-width: 384px){
	
}
@media(max-width: 375px){

}
@media(max-width: 320px){
	
}
/*--responsive--*/