.information .header-information{
    width: 100%;
    height: 260px;
    margin-top: 20px;
  }
  
  .information .header-information .center {
    width: 150px;
    margin: 0 auto;
  }
  
  .information .header-information .avatar {
    width: 150px;
    height: 150px;
    border-radius: 150px;
    margin: 0 auto;
  }
  
  .information .header-information p{
    text-align: center;
    font-size: 30px;
    margin-top: 10px;
  }
  
  .information .header-information .friend {
      text-align: center;
      font-size: 20px;
      color: #BBBBBB;
      position: relative;
      bottom: 20px;
  }
  
  .information .header-information .online {
      background: #5AD539;
      width: 30px;
      height: 30px;
      border-radius: 30px;
      border: 2px solid #fff;
      position: relative;
      z-index: 100;
      left: 120px;
      bottom: 40px;
  }