/* ListChatUser */
.ListChatUser .header-manager {
    height: 60px;
}

.ListChatUser .header-manager .exit-search {
    top: 13px
}

.ListChatUser .header-manager h3 {
    position: relative;
    top: 15px;
}

.ListChatUser .header-manager button {
    position: relative;
    top: 15px;
}

.ListChatUser {
    width: 105%;
    height: 100%;
    overflow-y: scroll;
  }
  
  .ListChatUser .chat-user {
    width: 95%;
    padding: 0;
    margin: 0 auto;
  }
  
  .ListChatUser .chat-user .row {
    border-radius: 10px;
    height: 80px;
  }
  
  .ListChatUser .chat-user .row:hover{
    background: #ccc;
  }
  
  .ListChatUser .chat-user .avartar-in-list-group{
    width: 60px;
    height: 60px;
    border-radius: 60px;
    padding: 0;
    margin: 10px auto;
  }
  
  .ListChatUser .chat-user p{
    text-align: left;
    font-size: 20px;
    margin-top: 25px;
  }

  .ListChatUser .col-1 input {
      margin-left: auto;
      margin-top: 30px;
      width: 20px;
      height: 20px;
  }

  .ListChatUser .col-11 label {
      width: 100%;
      height: 100%;
  }