/* Chat */
.chat {
    width: 100%;
    height: 83vh;
    overflow-y: scroll;
  }
  /* user chat */
  .user-chat {
    width: 97%;
    margin: 10px auto;
  }
  .user-chat .avatar {
    width: 50px;
    height: 50px;
    border-radius: 50px;
    border: 1px solid #ADD8E6;
    padding: 0;
  }
  .user-chat .custom-col-1 {
    width: 50px;
    display: flex;
  }
  .user-chat .chat-content {
    max-width: 420px;
    word-wrap: break-word;
    margin-top: 10px;
  }
  
  .user-chat .right {
    float: right;
    color: #fff;
  }
  
  .user-chat .left {
    float: left;
  }
  
  .user-chat .right .message-img {
      width: 450px;
      position: relative;
      right: 25px;
  }
  
  .user-chat .chat-content .message-img {
      width: 450px;
      position: relative;
  }
  
  .user-chat .chat-content .time-left {
    font-size: 10px;
    text-align: left;
  }

  .user-chat .chat-content .time-right {
    font-size: 10px;
    text-align: right;
  }
  
  .user-chat .chat-content .color-content{
    background: #BBBBBB;
    border-radius: 20px;
    padding: 10px;
  }
  
  .user-chat .chat-content .color-content-me{
    background: rgb(0, 153, 255);
    border-radius: 20px;
    padding: 10px;
  }

  .color-content a {
    color: black;
    text-decoration: underline;
  }

  .color-content-me a {
    color: white;
    text-decoration: underline;
  }
  
  // .inline{
  //   display: inline;
  // }
  
  // .block {
  //   display: block;
  // }

      /*--responsive--*/

      @media(max-width: 1680px){
    
    }
    @media(max-width: 1600px){
    
    }
    @media(min-width: 1440px){
    
    }
    @media(max-width: 1366px){
    
    }
    @media(max-width: 1280px){

    }
    @media(max-width: 1080px){
    
    }
    @media(max-width: 1050px){
    
    }
    @media(max-width: 1024px){
        
    }
    @media(max-width: 991px){
    
    }
    @media(max-width: 900px){
        .user-chat .right .message-img {
            width: 300px;
            position: relative;
            right: 25px;
        }
        
        .user-chat .chat-content .message-img {
            width: 300px;
            position: relative;
        }
        .user-chat .col-11 {
            flex: 0 0 89.666667%;
            max-width: 91.666667%;
          }
    }
    @media(max-width: 800px){
        
    }
    @media(max-width: 768px){
        
    }
    @media(max-width: 736px){
        .user-chat .col-11 {
            flex: 0 0 88.666667%;
            max-width: 91.666667%;
          }
    }
    @media(max-width: 667px){
        .user-chat .col-11 {
            flex: 0 0 86.666667%;
            max-width: 91.666667%;
          }
    }
    @media(max-width: 640px){
    
    }
    @media(max-width: 600px){
        .user-chat .right .message-img {
            width: 200px;
            position: relative;
        }
        
        .user-chat .chat-content .message-img {
            width: 200px;
            position: relative;
        }
        .user-chat .col-11 {
            flex: 0 0 84.666667%;
            max-width: 91.666667%;
          }
    }
    @media(max-width: 568px){
        .user-chat .col-11 {
            flex: 0 0 82.666667%;
            max-width: 91.666667%;
          }
    }
    @media(max-width: 480px){
        
    }
    @media(max-width: 440px){
        
    }
    @media(max-width: 414px){
        
    }
    @media(max-width: 384px){
        
    }
    @media(max-width: 375px){
    
    }
    @media(max-width: 320px){
        
    }

    @media(max-height: 748px) {
      .chat {
        height: 80vh;
      }
    }
    @media(max-height: 693px) {
      .chat {
        height: 78vh;
      }
    }
    @media(max-height: 667px) {
      .chat {
        height: 77vh;
      }
    }
    @media(max-height: 441px) {
      .chat {
        height: 75vh;
      }
    }
    /*--responsive--*/
  